/* set color scheme to entire site*/
:root {color-scheme: normal;}

/* logo image */
#logoimg.fixed {position: fixed;
    top: 0;
    left: 0;
    width: 100%;}

/* index image */
.seulgi {max-width: 100;
    height: auto;
}

.annasui, .perfumes {
    max-width: 100%;
    height: auto;
}

.shop-item {
    float: left;
    width: 225px;
    height: 225px;
    object-fit: cover;
}

/* this styles the navigation the same*/
nav ul {list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

nav > ul > li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}

.navigation a:hover {
    background-color: lightcoral;
    color: white;
}

.navigation a.active {
    background-color: darkred;
    color: white;
}

/* page column for shop*/
.left-column {
    float: left;
    width: 25%;
}

.right-column {
    float: left;
    width: 75%;
}

/* styles the column for the index page */
.column {float: left;
    width: 50%;}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* font property for paragraph*/
p {font-family: Georgia, 'Times New Roman', Times, serif;}

/* about box*/
#abouttext {width: auto;
    padding: 50px;
    margin: 20px;
    left: 0;}

/* purpose box*/
#purposetext {width: auto;
    padding: 50px;
    margin: 20px;
    right: 0;}

/* styles the footer the same*/ 
footer {font-size: smaller;}

