/* set color scheme to entire site*/
:root {color-scheme: normal;}

/* logo image */
#logoimg.fixed {position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.shopbag.fixed {position: absolute;
    top: 0px;
    right: 0px;
    width: 5px;
}

.minji {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
}

/* index image */
.seulgi {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    height: 500px;
}

.annasui, .perfumes {
    max-width: 100%;
    height: auto;
}

.shop-item {
    float: left;
    width: 225px;
    height: 225px;
    object-fit: cover;
}

/* this styles the navigation the same*/
nav ul {list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

nav > ul > li {
    float: left;
    position: absolute;
    top: 70px;
    right: 8px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}

.navigation a:hover {
    background-color: lightcoral;
    color: white;
}

.navigation a.active {
    background-color: darkred;
    color: white;
}

/* page column for shop*/
.left-column {
    float: left;
    width: 15%;
}

.right-column {
    float: left;
    width: 85%;
}

/* styles the column for the index page */
.column {float: left;
    width: 50%;}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* font property for paragraph*/
p {font-family: Georgia, 'Times New Roman', Times, serif;}

.cart-text {
    color: darkgray;
    text-align: center;
}

/* about box*/
#abouttext {width: auto;
    padding: 50px;
    margin: 20px;
    left: 0;}

/* purpose box*/
#purposetext {width: auto;
    padding: 50px;
    margin: 20px;
    right: 0;}

/* styles the footer the same*/ 
footer {font-size: smaller;}

.collection-column {float: left;
    width: 33%
}

.collectionimg {
    float: left;
    width: 300px;
    height: 500px;
    object-fit: cover; 
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0%;
    transition: .5s ease;
    background-color: lightslategray;
}
  
  .container:hover .overlay {
    opacity: 50%;
  }
  
  .text {
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }